*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width:100%;
}
.header{
    display:block;
    text-align:center;
    padding:20px;
    background-color:black;
    color:white;
}

.input-container{
    display:block;
    margin:auto;
    width:600px;
    text-align:center;
    
}

h3{
    padding:10px;
}

p{
    font-size:16px;
}
input{
    padding:10px;
    width:300px;
    height:40px;
    border-radius: 20px;
    border:3px solid black;
    /* outline-width: 0; */
    outline: none;
}

input:after{
    border:none;
}
button{
    margin:20px;
    padding:10px;
    color:white;
    background-color:cornflowerblue;
    border-radius: 10px;
    outline: none;
}

button:hover{
    background-color:black;
}
button:active{
    background-color:whitesmoke;
    color:black;
}

.responses{
    display:none;
    margin:auto;
    width:700px;
    padding:30px;
    height:auto;
    text-align:center;
    justify-content: left;
    border:3px solid black;
    background-color:cornflowerblue;

}
.footer{
    display:block;
    width:100%;
    background-color: black;
    color:white;
    padding:10px;
    position:fixed;
    bottom:0;
}

@media only screen and (max-width: 600px){
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }

    .input-container{
        width: 100%;
    }
    .header{
        width:100%;
    }
    .responses{
        width:100%;
    }
}